*{
    margin: 0;
    padding: 0;
}
.slide1{
    background-image: url(../../assets/Images/Img-1.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide2{
    background-image: url(../../assets/Images/Img-2.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide3{
    background-image: url(../../assets/Images/Img-3.avif);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-section{
    width: 100%;
    height: 100vh;
    position: relative;
}